---
import '../styles/global.css';
const pagetitle = "Mi Blog de Aprendizaje";
---
<a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Visita mi blog</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pagetitle}</title>
	</head>
	<body>
		<h1>{pagetitle}</h1>
	</body>
</html>
